$basicBlue: #4894fb;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

@mixin absolute-align($top: 50%, $left: 50%) {
  top: $top;
  left: $left;
  transform: translate(-$left, -$top);
}

@keyframes circleMove {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 120%;
    height: 120%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.headerFragOutline {
  background-image: url('../../assets/headerOutline.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 15px 0;
}
.headerFragOutline--white {
  @extend .headerFragOutline;
  background-image: url('../../assets/headerOutline-white.png');
}
