@import '~bootstrap/scss/bootstrap';
@import 'vars.scss';

body {
  font: {
    family: 'Source Sans Pro', sans-serif;
    color: #fff;
    weight: $fontRegular;
  }
  height: 5000px;
}
.mainHeader {
  background-color: $basicBlue;
  height: 88px;
}

.brandLogo {
  width: 220px;
}

.navList {
  li:nth-child(2) {
    margin: 0 60px 0 60px;
  }
}
.nav-link {
  color: #fff;
  font-size: 20px;
}

.contactBtn--box {
  position: relative;
  z-index: 1;
  width: 242px;
  height: 46px;
  background-color: black;
  color: #fff;
  border: {
    radius: 23px;
    width: 0px;
  }
}
.iconHolder {
  background-color: #fff;
  position: absolute;
  @include absolute-align(50%, 2%);
  width: 46px;
  height: 40px;
  border-radius: 21px;
  z-index: 2;
  cursor: pointer;
  .letterIcon {
    width: 26px;
  }
}
.contactBtn {
  position: absolute;
  width: 100%;
  @include absolute-align();
  border: none;
  background-color: transparent;
  color: white;
  font-weight: $fontSemiBold;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}

// *********** MAIN ****************

.main {
  position: relative;
  height: calc(100vh - 88px);
  .glide {
    height: 100%;
    z-index: 2;
    .glide__track {
      height: 100%;
      .glide__slides {
        height: 100%;
      }
    }
  }
  .glide__slide {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .glide__slide + .first {
    background-image: url(../../assets/server-room.jpg);
  }
  .glide__slide + .second {
    background-image: url(../../assets/bump-fist.jpg);
  }
  .glide__slide + .third {
    background-image: url(../../assets/pc.jpg);
  }
  .glide__bullets {
    position: absolute;
    bottom: 5%;
    left: 35%;
    .glide__bullet {
      width: 15px;
      height: 15px;
    }
  }
}

.rightPanel {
  height: 100%;
  // background-color: #bac2cb;
  // opacity: 0.8;
  background-color: rgba(186, 194, 203, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  &--align {
    height: 100%;
    position: absolute;
  }
}

.infoBlock__sentence {
  font: {
    size: 30px;
    weight: $fontSemiBold;
  }
  color: #fff;
  text-align: center;
  padding-right: 30px;
  margin: 60px 0 31px 0;
}

.infoBlocks > div,
.infoBlocks > a {
  margin: 9px;
  padding: 10px;
  text-decoration: none !important;
}
.infoBlock--phone,
.infoBlock--email,
.infoBlock--backup {
  width: 256px;
  height: 83px;
  background-color: $basicBlue;
}
.infoBlock--repair,
.infoBlock--helpdesk {
  width: 120px;
  height: 120px;
  background-color: $basicBlue;
  margin: 0;
  text-decoration: none !important;
}
.infoBlock--desc {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.infoBlock--icon {
  width: 40px;
}
.social {
  height: 430px;
  width: 52px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  right: 11%;
  bottom: 10%;
  border-radius: 26px;
  &__phone {
    width: 40px;
  }
  .social__icons {
    height: 270px;
    width: 52px;
    background-color: #000;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 20px 0;
    &--icon {
      width: 40px;
    }
  }
  .social__messenger {
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    bottom: -2%;
  }
}

// Section repair

.sectionHeader {
  font: {
    size: 36px;
    weight: $fontSemiBold;
  }
  text-align: center;
}

.repair {
  position: relative;
}
.repair__text {
  margin-right: 50px;
  width: 100%;
  z-index: 997;
}
.repair__text--paragraph {
  margin-top: 50px;
}
.repair__backgroundImage {
  position: absolute;
  min-height: 100%;
  right: 0;
}
.repair__backgroundImage--image {
  height: 100%;
  max-height: fit-content;
  position: absolute;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/laptopguy.jpg');
  background-size: cover;
  background-position: center;
}

// section warranty

.warranty {
  background-color: $basicBlue;
  padding: 50px 0;
  color: #fff;
  &__align {
    margin: 50px 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    h3 {
      margin: 30px 0;
    }
    img {
      width: 80px;
    }
  }
}
.bigger {
  width: 86px !important;
}

// section helpdesk

.helpdesk__background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/helpdesk-man.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  padding: 50px 0;
}
.helpdesk__content {
  .headerFragOutline--white {
    width: 95%;
  }
  &--sentence {
    font-size: 20px;
    margin-top: 60px;
  }
  &--list {
    font-size: 18px;
  }
  h4 {
    margin: 40px 0;
    text-align: center;
  }
}

// section backup
.backup .headerFragOutline {
  margin: 30px 0;
}
.backup__block {
  background-color: $basicBlue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  padding: 20px 0;
  color: #fff;
  & img {
    width: 100px;
    margin: 0 0 20px 0;
  }
}

// footer
.footer {
}
