@import '~bootstrap/scss/bootstrap';
@import 'vars.scss';

body {
  font: {
    family: 'Source Sans Pro', sans-serif;
    color: #fff;
    weight: $fontRegular;
  }
  height: 5000px;
}
.mainHeader {
  background-color: $basicBlue;
  height: 88px;
}

.brandLogo {
  width: 220px;
}

.navList {
  li:nth-child(2) {
    margin: 0 60px 0 60px;
  }
}
.nav-link {
  color: #fff;
  font-size: 20px;
}

.contactBtn--box {
  position: relative;
  z-index: 1;
  width: 242px;
  height: 46px;
  background-color: black;
  color: #fff;
  border: {
    radius: 23px;
    width: 0px;
  }
}
.iconHolder {
  background-color: #fff;
  position: absolute;
  @include absolute-align(50%, 2%);
  width: 46px;
  height: 40px;
  border-radius: 21px;
  z-index: 2;
  cursor: pointer;
  .letterIcon {
    width: 28px;
  }
}
.contactBtn {
  position: absolute;
  width: 100%;
  @include absolute-align();
  border: none;
  background-color: transparent;
  color: white;
  font-weight: $fontSemiBold;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}

// *********** MAIN ****************

.main {
  position: relative;
  height: calc(100vh - 88px);
  .glide {
    height: 100%;
    z-index: 2;
    .glide__track {
      height: 100%;
      .glide__slides {
        height: 100%;
      }
    }
  }
  .glide__slide {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .glide__slide + .first {
    background-image: url(../../assets/server-room.jpg);
  }
  .glide__slide + .second {
    background-image: url(../../assets/bump-fist.jpg);
  }
  .glide__slide + .third {
    background-image: url(../../assets/pc.jpg);
  }
  .glide__bullets {
    position: absolute;
    bottom: 5%;
    left: 35%;
    .glide__bullet {
      width: 15px;
      height: 15px;
    }
  }
}

.rightPanel {
  height: 100%;
  background-color: #bac2cb;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  &--align {
    height: 100%;
    position: absolute;
  }
}

.infoBlock__sentence {
  font: {
    size: 30px;
    weight: $fontSemiBold;
  }
  color: #fff;
  text-align: center;
  padding-right: 30px;
  margin: 60px 0 31px 0;
}

.infoBlocks > div {
  margin: 9px;
}
.infoBlock--phone,
.infoBlock--email {
  width: 256px;
  height: 83px;
  background-color: $basicBlue;
}
.infoBlock--repair,
.infoBlock--helpdesk {
  width: 120px;
  height: 120px;
  background-color: $basicBlue;
  align-self: flex-start;
}
